---
layout: default
---

<div class="background-image-container" style="background-image: url('images/NiagraFallsForWebsiteSmall.jpg');">
</div>

<!-- index.html -->
<div class="welcome-section" id="home">
  <div class="welcome-content">
    <h1>Welcome to Amir R. Peimani's Website</h1>
    <p>
      AI & Neuroscience | Neural Networks | Biomedical & Neural Engineering
    </p>
    <p>
      Bridging the gap between AI and neuroscience for groundbreaking research.
    </p>
  </div>
</div>

<div class="row flex-column-reverse flex-md-row py-2" id="about">
    <div class="col-md-8" id="bio">
        <h1>Amir R. Peimani</h1>
        <p>
            I am a PhD Candidate in Biomed Eng & Neuroscience at University of Toronto. My research is focused on Artificial Intelligence Driven Analysis of Brainstem Seizures in Rat Models of Epilepsy.<br> Particulary, my research interests includes Neural Networks, GNN, RNN, Few-Shot Learning, Transfer Learning, and Connectivity Analysis. Currently, I am learning more about Generative AI (GAN, VAE) and Reinfocement Learning in Healthcare.
        </p>
        <p>
            I enjoy learning French🇫🇷 & Spanish🇪🇸, reading about evolutionary biology🧬 & music theory🎼, exploring finance🏦, working out🏋️‍♂️, and playing soccer⚽.
        </p>
        <p style="text-align:center">
            <a target="_blank" href="https://mailhide.io/e/amir.peimani@mail.utoronto.ca">Email</a> &nbsp;/&nbsp;
            <a href="https://github.com/AmirRezaPeimani">GitHub</a> &nbsp;/&nbsp;
            <a href="https://twitter.com/AmirRezaPeimani">Twitter</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=VpV999IAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/amirrezapeimani/">LinkedIn</a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="images//Amirreza Profile Pic Small.jpeg">
    </div>
</div>

<!-- Education Section -->
<div class="education-section" id="education">
  <h2>Education</h2>
  <div class="education-item">
    <div class="university">University of Toronto</div>
    <div class="details">
      <p>Ph.D. in Biomedical Engineering</p>
      <p>GPA: A (18 credits)</p>
      <p>Sep 2018 - Sep 2023</p>
    </div>
  </div>

  <div class="education-item">
    <div class="university">York University</div>
    <div class="details">
      <p>M.A.Sc. in Mechanical Engineering</p>
      <p>GPA: A (15 credits)</p>
      <p>Sep 2015 - Dec 2017</p>
    </div>
  </div>

  <div class="education-item">
    <div class="university">Isfahan University of Technology</div>
    <div class="details">
      <p>B.A.Sc. in Mechanical Engineering</p>
      <p>GPA: 16.8/20 (143 credits)</p>
      <p>Sep 2011 - July 2015</p>
    </div>
  </div>
</div>

{% include news.html %} 
{% include publications.html %}
{% include teaching.html %}

<div class="last-updated-section">
  <p>Last Updated: {{ site.time | date: "%B %d, %Y" }}</p>
</div>
