---
layout: default
---

<div class="background-image-container" style="background-image: url('images/portrait.jpg');">
</div>

<!-- index.html -->
<div class="welcome-section" id="about">
  <div class="welcome-content">
    <h1>Welcome to Amir R. Peimani's Website</h1>
    <p>
      AI & Neuroscience | Neural Networks | Biomedical Engineering
    </p>
    <p>
      Bridging the gap between AI and neuroscience for groundbreaking research.
    </p>
    <p>
      Exploring the depths of the brain to unlock new possibilities in AI and healthcare.
    </p>
  </div>
</div>

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Amir R. Peimani</h1>
        <p>
            AI & Neurosience, Neural Networks, Neural & Biomed. Eng.
        </p>
        <p>
            PhD Candidate in Biomed Eng & Neuroscience<br>
            Bridging the gap between AI & neuroscience<br>
            Focus on AI-driven analysis of brainstem seizures & seizure propagation & neural network dynamics<br>
            Research on FSL for SUDEP & brainstem seizures<br>
            Research on generative AI for brian signal data augmentation & data synthesis<br>
            Exploring Reinforcement & Transfer Learning for personalized patient-specific therapy<br>
            Seeking connections & collaboration on exciting advancements in AI & neuroscience & engineering<br>
            <a href="https://amirrezapeimani.github.io/">Link to my personal webpage</a>.
        </p>
        <p>
            Interested in Learning French 🇫🇷 & Spanish 🇪🇸, Evolutionaly Biology 🧬, Music Theory 🎼 , Finance 🏦, Bodybuilding 🏋️‍♂️, Soccer ⚽️
        </p>
        <p style="text-align:center">
            <a target="_blank" href="https://mailhide.io/">Email</a> &nbsp;/&nbsp;
            <a href="https://github.com/">GitHub</a> &nbsp;/&nbsp;
            <a href="https://twitter.com/">Twitter</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/">LinkedIn</a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="images/portrait.jpg">
    </div>
</div>

<!-- Education Section -->
<div class="education-section" id:"education">
    <h2>Education</h2>
    <div class="education-item">
        <h3>University of Toronto</h3>
        <p>
            PhD Candidate in Biomedical Engineering; GPA: A (18 credits)<br>
            <span class="location">Toronto, ON, Canada</span>
        </p>
        <p>
            <b>Graduate Certificate in Neuroscience (CPIN).</b><br>
            <b>Thesis:</b> Cortical-Brainstem Seizures Propagation Network Causing Cardiorespiratory Disruption Unveiled By Graph Neural Networks (GNN)
        </p>
    </div>
    <!-- Add other education items here -->
</div>

<div class="last-updated-section">
  <p>Last Updated: {{ site.time | date: "%B %d, %Y" }}</p>
</div>


{% include news.html %} 
{% include publications.html %}
{% include teaching.html %}
