---
layout: default
---


<div class="background-image-container" style="background-image: url('images/NiagraFallsForWebsiteSmall.jpg');">
</div>



<!-- index.html -->
<div class="welcome-section" id="home">
  <div class="welcome-content">
    <h1>Welcome to Amir R. Peimani's Website</h1>
    <p>
      Bridging the gap between AI & Neuroscience for groundbreaking research.
    </p>
  </div>
</div>

<div class="row flex-column-reverse flex-md-row py-2" id="about">
  <div class="col-md-8" id="bio">
    <h1>Amir R. Peimani</h1>
    <p>
      I am a PhD Candidate in Biomed Eng & Neuroscience at the <a href="https://www.utoronto.ca/">University of Toronto</a>.
    </p>
    <p>
      Previously, I was a Mitacs Accelerate Fellow Intern at <a href="https://www.neureka.ai//">Neureka.ai</a> from 2020 to 2022. I was also a TA for <a href="https://uoft-csc413.github.io/2022/">Deep Learning & Neural Networks</a> course by <a href="https://jimmylba.github.io/">Jimmy Ba</a> at Uni. of Toronto in 2022 & 2023.
    </p>
    <!-- Research Interests -->
    <div class="research-interests">
      <p>I have a broad set of interests, but recently I have been working on:</p>
      <ul>
        <li>Connectivity Analysis & Information Flow</li>
        <li>Coherence & Synchronization & Wavelet Analysis</li>
        <li>Neural Networks & Deep Learning</li>
        <li>Graph Neural Networks & Recurrent Neural Networks</li>
        <li>Few-Shot Learning & Transfer Learning</li>
        <li>[most recently] Reinforcement Learning & Gen AI</li>
      </ul>
    </div>
    <p>
      Besides research, I enjoy learning French🇫🇷 & Spanish🇪🇸, reading about evolutionary biology🧬 & music theory🎼, exploring finance🏦, working out🏋️‍♂️, & playing soccer⚽.
    </p>
    <p>
      Also, I served as the President of <a href="https://besa.bme.utoronto.ca/executive-team-2019-2020/">BESA</a> in 2019 & the Vice-President of <a href="https://utgsu.ca/committees-caucuses-levy/caucuses/">ISC</a> in 2019-20. And I received a Certificate in <a href="https://drive.google.com/file/d/10Tnw8AFRFzbATdWb6DIF1YfUl1jnULkm/view">Business Fundamentals</a> from <a href="https://www.gmcacanada.com/">GMCA</a>.
    </p>
    <p>
      <div>
      <a class="resume-link" href="https://github.com/AmirRezaPeimani/amirrezapeimani.github.io/blob/main/resume/Aug2023_CV_Peimani_Amir_R.pdf#:~:text=Raw%20file%20content-,Download,-%E2%8C%98">Resume_Updated_Aug_2023</a>
      </div>
    </p>
  </div>
  <div class="col-md-4" style="z-index:4;">
    <img alt="profile photo" id="portrait" src="images//Amirreza Profile Pic Small.jpeg">
    <p style="text-align:center; font-size: 0.9rem; font-weight: bold; margin-top: 10px;">
      <a target="_blank" href="https://mailhide.io/e/amir.peimani@mail.utoronto.ca">amir.peimani@mail.utoronto.ca</a><br>
      University of Toronto, University Health Network, Toronto, Canada 🇨🇦<br>
      7KD-404, Krembil Research Institute, 60 Leonard Ave, M5T0S8
    </p>
    <p style="text-align:center">
      <a href="https://github.com/AmirRezaPeimani">GitHub</a> &nbsp;/&nbsp;
      <a href="https://twitter.com/AmirRezaPeimani">Twitter</a> &nbsp;/&nbsp;
      <a href="https://scholar.google.com/citations?user=VpV999IAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
      <a href="https://www.linkedin.com/in/amirrezapeimani/">LinkedIn</a>
    </p>
  </div>
</div>


<!-- Education Section -->
<div class="education-section" id="education">
  <h2>Education</h2>
  <div class="education-item">
    <div class="university">University of Toronto, Toronto, CA</div>
    <div class="details">
      <p>Ph.D. in Biomedical Engineering & Neuroscience</p>
      <p>GPA: A (18 credits)</p>
      <p>Sep 2018 - May 2024</p>
    </div>
  </div>

  <div class="education-item">
    <div class="university">York University, Toronto, CA</div>
    <div class="details">
      <p>M.A.Sc. in Mechanical Engineering</p>
      <p>GPA: A (15 credits)</p>
      <p>Sep 2015 - Dec 2017</p>
    </div>
  </div>

  <div class="education-item">
    <div class="university">Isfahan University of Technology, Isfahan, Iran</div>
    <div class="details">
      <p>B.A.Sc. in Mechanical Engineering</p>
      <p>GPA: 16.8/20 (143 credits)</p>
      <p>Sep 2011 - July 2015</p>
    </div>
  </div>
</div>





{% include news.html %} 
{% include publications.html %}
{% include teaching.html %}
{% include awards.html %}

<div class="last-updated-section">
  <p>Last Updated: {{ site.time | date: "%B %d, %Y" }}</p>
</div>


