---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 1em;
}

a {
  color: #1772d0;
  text-decoration: none;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-display: auto;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

p {
  margin-block-start: $font-size-normal;
  margin-block-end: $font-size-normal;
}

em {
  font-style: italic;
}

body,
td,
th,
tr,
p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-display: auto;
  font-weight: bold;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-display: auto;
  font-weight: normal;
  padding: 20px;
  margin: 0px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000080;
  padding-bottom: 5px; /* Add some spacing between the title and the border line */
  display:block; 
  width: 100%;
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 10px;
  margin-bottom: 10px;
  display:inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 0px;
  margin-right: 0px;

}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
/* Bio Section */
#about {
  position: relative; /* Ensure the position of portrait and info is relative to the bio section */
}

#bio {
  position: relative; /* Ensure the position of portrait and info is relative to the bio section */
}

.col-md-4 {
  display: flex; /* Display the portrait and info side by side */
  flex-direction: column; /* Display the info under the portrait */
  align-items: center; /* Center the content horizontally */
  text-align: center;
}

.col-md-4 p {
  margin-bottom: 0; /* Remove extra margin from the info paragraph */
}


.research-interests {
  margin-top: 20px;
  margin-bottom: 30px;
}

.research-interests p {
  font-size: 1.1rem;
}

.research-interests ul {
  list-style-type: disc;
  padding-left: 20px;
}

.research-interests li {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Add these styles for the research-interests class */
.research-interests {
  margin-left: 20px;
}

.research-interests ul {
  list-style-type: disc;
}


#portrait {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Add some spacing between the portrait and info */
}

/* Publications Section */
.publications-section {
  padding: 20px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.publication-category {
  margin-bottom: 10px; /* Add spacing between categories */
  padding: 10px;
}

.publication-category h3 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px;
}

.publication-category ul {
  list-style-type: disc; /* Use disc bullets for the list */
  padding-left: 20px; /* Indent the bullet points */
}

.publication-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px; /* Reduce spacing between items */
}

.publication-image {
  flex: 0 0 100px; /* Set the width of the image */
  height: 100%; /* Set the height of the image to match the details container */
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.publication-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.publication-details {
  flex: 1;
}

.publication-title {
  font-size: 0.9rem; /* Reduce font size */
  font-weight: bold;
  margin-bottom: 2px; /* Add space between lines */
}

.publication-authors {
  font-size: 0.9rem; /* Reduce font size */
  margin-bottom: 2px; /* Add space between lines */
}

.publication-authors strong {
  font-weight: bold;
}

.publication-venue-date {
  font-size: 0.9rem; /* Set font size */
  font-style: italic; /* Make it italic */
  margin-bottom: 2px; /* Add space between lines */
}

.publication-title strong {
  font-weight: bold;
  display: block;
}



// Bootstrap-specific


div.container-fluid {
  max-width: 1000px;
}


.font-small {
  font-size: $font-size-small;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";

.code {
  // @extend .text-monospace;
  background-color: #f8f8f8;
}



body {
  font-size: 1em;
  /* Other common body styles */
  min-height: 100vh;
  padding-top: 100vh; /* Equal to the height of the background image container */
  margin-left: 0px;
}


/* News Section */
.news-section {
  padding: 20px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.news-item {
  display: flex;
  align-items: center; /* Center the content vertically */
  margin-bottom: 10px;
}

.news-thumbnail {
  flex: 0 0 100px; /* Set the width of the thumbnail */
  margin-right: 20px; /* Add some spacing between the thumbnail and content */
}

.news-thumbnail img {
  width: 100%; /* Make sure the image fits within the thumbnail container */
}

.news-content {
  flex: 1; /* Allow the content to take up the remaining space */
}

.news-date {
  color: #000080; /* Set a different color for the date */
  font-size: 14px; /* Set a smaller font size for the date */
  font-weight: bold;
  margin-bottom: 5px;
}

.news-content p {
  font-size: 18px;
  line-height: 1.5;
}

.news-content a {
  color: #1772d0;
  text-decoration: none;
  border-bottom: 1px solid #1772d0;
  transition: border-bottom 0.2s ease-in-out;
}

.news-content a:hover {
  border-bottom: 2px solid #1772d0;
}



/* Background image container */
.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1; /* To ensure the background is behind other elements */
}


/* Welcome section */
.welcome-section {
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}



/* Last updated section */
.last-updated-section {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  opacity: 0.8; /* Adjust the opacity as needed */
}

/* Education Section */
.education-section {
  padding: 20px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.education-item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-column-gap: 30px; /* Gap between columns */
  margin-bottom: 10px; /* Add spacing between education items */
}

.education-item .university {
  font-size: 1.1rem;
  font-weight: bold;
}

.education-item .details {
  font-size: 0.9rem;
}

.education-item .details p {
  margin: 5px 0; /* Adjust spacing between details */
}

/* Teaching Section */
.teaching-section {
  padding: 20px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.teaching-item {
  margin-bottom: 20px; /* Add spacing between teaching items */
}

.teaching-item h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.teaching-item p {
  font-size: 0.9rem;
}

.teaching-item ul {
  list-style: disc;
  padding-left: 20px;
}

.teaching-item li {
  font-size: 1rem;
  margin-bottom: 5px;
}


/* Awards Section */
.awards-section {
  padding: 20px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.award-item {
  margin-bottom: 10px; /* Add spacing between award items */
}

.award-item h3 {
  font-size: 1.1rem;
}

.awards-section .award-item h3 {
  font-weight: normal; /* Set the font-weight to normal to remove boldness within .award-item */
}
.award-item .award-title {
  font-weight: bold;
}

