---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 1em;
}

a {
  color: #1772d0;
  text-decoration: none;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-display: auto;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

p {
  margin-block-start: $font-size-normal;
  margin-block-end: $font-size-normal;
}

em {
  font-style: italic;
}

body,
td,
th,
tr,
p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-display: auto;
  font-weight: bold;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  display:inline; 
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: $font-size-normal;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  display:inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 0px;
  margin-right: 0px;

}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

// Website specific

#portrait {
  width: 100%;
  max-width: 100%;
  height: auto;
}


// Publications Section
.publications-section {
  border-top: 2px solid #000080;
  padding: 20px;
  margin-bottom: 40px; /* Add some spacing at the bottom */
}

.publications-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.publications-section ul {
  list-style: none;
  padding-left: 0;
}

.publications-section li {
  font-size: 1rem;
  margin-bottom: 5px;
}

.publication-title {
  font-weight: bold;
}

.authors {
  font-style: italic;
}



// Bootstrap-specific


div.container-fluid {
  max-width: 1000px;
}


.font-small {
  font-size: $font-size-small;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";

.code {
  // @extend .text-monospace;
  background-color: #f8f8f8;
}



body {
  font-size: 1em;
  /* Other common body styles */
  min-height: 100vh;
  padding-top: 100vh; /* Equal to the height of the background image container */
  margin-left: 0px;
}


/* News Section */
.news-section {
  border-top: 2px solid #000080;
  border-bottom: 2px solid #000080;
}

.news-item {
  display: flex;
  align-items: center; /* Center the content vertically */
  margin-bottom: 10px;
}

.news-thumbnail {
  flex: 0 0 100px; /* Set the width of the thumbnail */
  margin-right: 20px; /* Add some spacing between the thumbnail and content */
}

.news-thumbnail img {
  width: 100%; /* Make sure the image fits within the thumbnail container */
}

.news-content {
  flex: 1; /* Allow the content to take up the remaining space */
}

.news-date {
  color: #000080; /* Set a different color for the date */
  font-size: 14px; /* Set a smaller font size for the date */
  font-weight: bold;
  margin-bottom: 5px;
}

.news-content p {
  font-size: 18px;
  line-height: 1.5;
}

.news-content a {
  color: #1772d0;
  text-decoration: none;
  border-bottom: 1px solid #1772d0;
  transition: border-bottom 0.2s ease-in-out;
}

.news-content a:hover {
  border-bottom: 2px solid #1772d0;
}



/* Background image container */
.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1; /* To ensure the background is behind other elements */
}


/* Welcome section */
.welcome-section {
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}



/* Last updated section */
.last-updated-section {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  opacity: 0.8; /* Adjust the opacity as needed */
}

/* Education Section */
.education-section {
  border-top: 2px solid #000080;
  padding: 20px;
  margin-bottom: 40px; /* Add some spacing at the bottom */
}

.education-item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-column-gap: 30px; /* Gap between columns */
  margin-bottom: 10px; /* Add spacing between education items */
}

.education-item .university {
  font-size: 1.1rem;
  font-weight: bold;
}

.education-item .details {
  font-size: 0.9rem;
}

.education-item .details p {
  margin: 5px 0; /* Adjust spacing between details */
}

/* Teaching Section */
.teaching-section {
  border-top: 2px solid #000080;
  padding: 20px;
  margin-bottom: 40px; /* Add some spacing at the bottom */
}

.teaching-item {
  margin-bottom: 20px; /* Add spacing between teaching items */
}

.teaching-item h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.teaching-item p {
  font-size: 0.9rem;
}

.teaching-item ul {
  list-style: disc;
  padding-left: 20px;
}

.teaching-item li {
  font-size: 1rem;
  margin-bottom: 5px;
}



