<div class="awards-section" id="awards">
  <h2>Awards</h2>
  <div class="award-item">
    <h3>Doctoral Completion Award (DCA), UofT, Toronto, 2022</h3>
  </div>
  <div class="award-item">
    <h3>Wildcat Graduate Scholarship, Uni. of Toronto, Toronto, 2020</h3>
  </div>
  <div class="award-item">
    <h3>Mitacs Accelerate Fellowship, MITACS & Novela Neurotech & Uni. of Toronto, 2020-2021</h3>
  </div>
  <div class="award-item">
    <h3>Loo Geok Eng Found Grad Scholarship, Uni. of Toronto, Toronto, 2019</h3>
  </div>
  <div class="award-item">
    <h3>International Doctoral Student Award (IDSA), Uni. of Waterloo, Waterloo, 2018</h3>
  </div>
  <div class="award-item">
    <h3>Graduate Research Studentship, Uni. of Waterloo, Waterloo, 2018</h3>
  </div>
  <div class="award-item">
    <h3>Dean's Top 10% List, class of 2015, Mech. Eng., Isfahan Uni. of Tech., Isfahan, 2015</h3>
  </div>
  <div class="award-item">
    <h3>Top 2% in National Grad. Entrance Exam for M.A.Sc in Biomedical Eng., Iran, 2015</h3>
  </div>
  <div class="award-item">
    <h3>Annual Student Appreciation Festival Award, Isfahan Uni. of Tech., Isfahan, 2012</h3>
  </div>
  <div class="award-item">
    <h3>Member of University's Exceptionally Talented Students’ Club, Iran, 2011-2015</h3>
  </div>
  <div class="award-item">
    <h3>Top 0.1% (of 114,158 applicants) in Iran's National Undergrad. Entrance Exam, Iran, 2011</h3>
  </div>
</div>
