<div class="awards-section" id="awards">
  <h2>Awards</h2>
  <div class="award-item">
    <h3><span class="award-title">Doctoral Completion Award (DCA)</span>, Uni. of Toronto, Toronto, 2022</h3>
  </div>
  <div class="award-item">
    <h3><span class="award-title">Wildcat Graduate Scholarship</span>, Uni. of Toronto, Toronto, 2020</h3>
  </div>
  <div class="award-item">
    <h3><span class="award-title">Mitacs Accelerate Fellowship</span>, MITACS & Neureka.ai, 2020-2022</h3>
  </div>
  <div class="award-item">
    <h3><span class="award-title">Loo Geok Eng Found Grad Scholarship</span>, Uni. of Toronto, Toronto, 2019</h3>
  </div>
  <div class="award-item">
    <h3><span class="award-title">International Doctoral Student Award (IDSA)</span>, Uni. of Waterloo, Waterloo, 2018</h3>
  </div>
  <div class="award-item">
    <h3><span class="award-title">Annual Student Appreciation Festival Rank 1st Award</span>, Isfahan Uni. of Tech., Isfahan, 2012</h3>
  </div>
</div>
