<!-- News Section -->
<div class="news-section" id="news">
  <h2>Latest News</h2>



  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/Medium logo.png" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <div class="news-date">August 27, 2023</div>
      <p>
        I published my first Medium article, titled at <a href="https://amirrezapeimani.github.io/">"The Hidden Bias in AI’s ‘Productivity’ & ‘Qualification’ Metrics: Why We Need to Broaden Our Horizons"</a>. It is based on my 8+ years of post-undergrad experience in the fields of engineering, computer science, artificial intelligence, and neuroscience. I decided to talk about this Hidden Bias, which actually is not hidden, rather it is Not UN-hidden, in a sense. It is a 10 mins read, so please let me know what you think of it, and whether you have experienced the same or not.
      </p>
    </div>
  </div>
  
  
  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/NiagraFallsForWebsiteSmall.jpg" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <div class="news-date">August 2, 2023</div>
      <p>
        I just launched <a href="https://amirrezapeimani.github.io/">my personal website</a>. Make sure to check it out regularly.
      </p>
    </div>
  </div>

  
  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/GCC News.png" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <div class="news-date">August 1, 2023</div>
      <p>
        I am taking part in <a href="https://t.co/4JN8T4lJ4j">Great Cycle Challenge</a> to support Kid's Cancer Fighters. Every 2 mins, a child is diagnosed with cancer, the largest killer of children from disease in Canada! Please support my 500km challenge by making a donation.
      </p>
    </div>
  </div>



  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/Krembil Feature 2023.jpeg" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <div class="news-date">March 7, 2023</div>
      <p>
        I was featured on the <a href="https://twitter.com/KBI_UHN/status/1633120572023492611?s=20">Krembil Research Institue Social Media</a>. Grateful to be part of a great community and institute.
      </p>
    </div>
  </div>
















  
  <!-- Add more news items as needed -->
</div>
