<!-- News Section -->
<div class="news-section" id="news">
  <h2>Latest News</h2>

  
  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/NiagraFallsForWebsiteSmall.jpg" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <p class="news-date">August 2, 2023<br>
      <p>
        I just launched <a href="https://amirrezapeimani.github.io/">my personal website</a>. Make sure to check it out regularly.
      </p>
    </div>
  </div>

  
  <div class="news-item">
    <div class="news-thumbnail">
      <!-- Add the URL of the image you want to show here -->
      <img src="images/GCC News.png" alt="News Thumbnail">
    </div>
    <div class="news-content">
      <p class="news-date">August 1, 2023<br>
      <p>
        I am taking part in <a href="https://t.co/4JN8T4lJ4j">Great Cycle Challenge</a> to support Kid's Cancer Fighters. Every 2 mins, a child is diagnosed with cancer, the largest killer of children from disease in Canada! Please support my 500km challenge by making a donation.
      </p>
    </div>
  </div>

  <!-- Add more news items as needed -->
</div>
