<div class="publications-section" id="publications">
  <h2>Publications</h2>

  <!-- Journals -->
  <div class="publication-category">
    <h3>Journals</h3>
    <ul>




      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/APL ML Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://pubs.aip.org/aip/aml" target="_blank"><strong>Bayesian Networks Illuminate the Interactions of SUDEP Risk Factors: A Mathematical
Perspective</strong></a>
          </div>
          <div class="publication-authors">A.R. Peimani</strong>
          <div class="publication-venue-date">
            <em>APL Machine Learning</em>, 2023,<strong> [Under Prep]</strong>
          </div>
        </div>
      </li>
      <!-- END of article -->

      

      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/JNeurosci Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://www.jneurosci.org/" target="_blank"><strong>Neural Network Connectivity and Seizure Propagation Patterns Alteration From Cortical To Subcortical Brain Regions In Amygdala Kindled Rats</strong></a>
          </div>
          <div class="publication-authors">A.R. Peimani</strong>, W. Sangphosuk, P. Carlen
          <div class="publication-venue-date">
            <em>Journal of Neuroscience</em>, 2023, <strong> [Under Prep]</strong>
          </div>
        </div>
      </li>
      <!-- END of article -->


      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/Integrative Bio Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://academic.oup.com/ib/article-abstract/11/10/373/5680003" target="_blank"><strong>Phenotypic Chemical & Mutant Screening of Zebrafish Larvae using On-Demand Response to Electric Stimulus</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, A. Khalili, N. Safarian, K. Youssef, G. Zoidl, and P. Rezai
          <div class="publication-venue-date">
            <em>Integrative Biology</em>, 11, 373-383 (2019)
          </div>
        </div>
      </li>
      <!-- END of article -->

      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/Biomicrofluidics Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://pubs.aip.org/aip/bmf/article-abstract/12/1/014113/385659/A-microfluidic-device-to-study-electrotaxis-and?redirectedFrom=fulltext" target="_blank"><strong>Zebrafish Larvae’s Electrotaxis and its Correlation with the Dopaminergic System Investigated in a Microfluidic Device</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, G. Zoidl, and P. Rezai
          <div class="publication-venue-date">
            <em>Biomicrofluidics</em>, 12, 014113 (2018)
          </div>
        </div>
      </li>
      <!-- END of article -->

      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/Lab Chip Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://pubs.rsc.org/en/content/articlelanding/2017/lc/c7lc00786h/unauth" target="_blank"><strong>A Microfluidic Device for Partial Immobilization, Chemical Exposure, And Behavioural Screening of Zebrafish Larvae</strong></a>
          </div>
          <div class="publication-authors">Nady, A.,<strong>A.R. Peimani</strong>, G. Zoidl, and P. Rezai
          <div class="publication-venue-date">
            <em>Lab Chip</em>, 17, 4048-4058 (2017)
          </div>
        </div>
      </li>
      <!-- END of article -->

      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/Biomedical Micro Logo.png" alt="Journal Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://link.springer.com/article/10.1007/s10544-017-0240-x" target="_blank"><strong>A Microfluidic Device for Quantitative Investigation of Zebrafish Larvae’s Rheotaxis</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, G. Zoidl, and P. Rezai
          <div class="publication-venue-date">
            <em>Biomedical Microdevices</em>, 19:99 (2017)
          </div>
        </div>
      </li>
      <!-- END of article -->
     
    </ul>
  </div>

  <!-- Conferences -->
  <div class="publication-category">
    <h3>Conferences</h3>
    <ul>

      
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/ICLR Logo.png" alt="Conference Image 5">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://iclr.cc/" target="_blank"><strong>From Nodes to Networks: Representation Learning for Seizure Propagation, Clustering and Biomarker Identification</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen</div>
          <div class="publication-venue-date">
            <em>International Conference on Learning Representations (ICLR), 2024; Vienna, Austria</em> <strong>[Under Prep]</strong>
          </div>
        </div>
      </li>
            
      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/SFN Logo.png" alt="Conference Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://www.sfn.org/meetings/neuroscience-2023" target="_blank"><strong>Neural Network Dynamics in Amygdala Kindled Seizures</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen
          <div class="publication-venue-date">
            <em>Society for Neuroscience (SfN), 2023; Washington, D.C., USA</em>
          </div>
        </div>
      </li>
      <!-- END of article -->

      
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/AES Logo.png" alt="Conference Image 2">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://aesnet.org/AES-annual-meeting" target="_blank"><strong>Time Course and Semiology of Brainstem Seizure Invasion in Amygdala Rapid Kindling Model</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen</div>
          <div class="publication-venue-date">
            <em>77<sup>th</sup> AES Annual Meeting, 2023; Orlando, FL, USA</em>
          </div>
        </div>
      </li>

      
      
      

      <li class="publication-item">
        <div class="publication-image">
          <img src="images/TC AI in Med Logo.png" alt="Conference Image 6">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://tcairem-conference.ca/" target="_blank"><strong>Combining K-Nearest Neighbours and Few-Shot Learning Enhances Seizure Identification in a Kindled Rat Model</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen</div>
          <div class="publication-venue-date">
            <em>T_CAIREM AI in Medicine, 2023; Toronto, Canada</em>
          </div>
        </div>
      </li>


      
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/Krembil Logo.png" alt="Conference Image 3">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://www.uhnresearch.ca/news/krembil-research-day-2023" target="_blank"><strong>Cannabidiol Effects on Brainstem Seizures in Amygdala Rapid Kindling Rat Model</strong></a>
          </div>
          <div class="publication-authors">W. Sangphosuk, <strong>A.R. Peimani</strong>, N. Silverman, V. Vejeyathaas, F. Le Devedec, K. Urban, P. Carlen</div>
          <div class="publication-venue-date">
            <em>Krembil Research Day, 2023; Toronto, ON, Canada</em>
          </div>
        </div>
      </li>







      
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/AES Logo.png" alt="Conference Image 4">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://aesnet.org/abstractslisting/isoflurane-general-anesthesia-differentially-suppresses-brainstem-compared-to-cerebral-seizure-like-events-and-concomitant-respiratory-disruption" target="_blank"><strong>Isoflurane General Anesthesia Differentially Suppresses Brainstem Compared to Cerebral Seizure Like Events and Concomitant Respiratory Disruption</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, A. Sabetghadam, H. El-Beheiry, P. Carlen</div>
          <div class="publication-venue-date">
            <em>75<sup>th</sup> AES Annual Meeting, 2021; Chicago, IL, USA</em>
          </div>
        </div>
      </li>
            
      
    </ul>
  </div>

  <!-- Workshops -->
  <div class="publication-category">
    <h3>Workshops</h3>
    <ul>



      <li class="publication-item">
        <div class="publication-image">
          <img src="images/NeurIPS Logo.png" alt="NeurIPS Conference Image">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://crl-workshop.github.io/" target="_blank"><strong>Multimodal Deep Learning with Hierarchical Attention Mechanisms Suggests Differential Effects of Brainstem Seizures on Respiration in a Rat Model</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen</div>
          <div class="publication-venue-date">
            <em>NeurIPS Workshop on Causal Representation Learning, 2023; New Orleans, United States</em> <strong>[Under Prep]</strong>
          </div>
        </div>
      </li>



      
      <!-- START of article -->
      <li class="publication-item">
        <div class="publication-image">
          <img src="images/ML4H Logo.png" alt="Workshop Image 1">
        </div>
        <div class="publication-details">
          <div class="publication-title">
            <a href="https://ml4health.github.io/2023/" target="_blank"><strong>Dynamic Attention \& Graph Networks Reveal Brainstem Seizure Involvement on PGES  Spatio-Temporal Patterns</strong></a>
          </div>
          <div class="publication-authors"><strong>A.R. Peimani</strong>, W. Sangphosuk, P. Carlen
          <div class="publication-venue-date">
            <em>Machine Learning for Health (ML4H), 2023; New Orleans, United States</em> <strong>[Under Prep]</strong>
          </div>
        </div>
      </li>
      <!-- END of article -->

      
    </ul>
  </div>
</div>
