<div class="publications-section" id="publications">
  <h2>Publications</h2>

  <!-- Conferences -->
  <h3>Conferences</h3>
  <ul>
    <li>
      <span class="publication-title">Paper Title 1</span> - <span class="authors">Author 1, Author 2</span>
    </li>
    <li>
      <span class="publication-title">Paper Title 2</span> - <span class="authors">Author 3, Author 4</span>
    </li>
    <!-- Add more conference publications here -->
  </ul>

  <!-- Workshops -->
  <h3>Workshops</h3>
  <ul>
    <li>
      <span class="publication-title">Paper Title 3</span> - <span class="authors">Author 5, Author 6</span>
    </li>
    <li>
      <span class="publication-title">Paper Title 4</span> - <span class="authors">Author 7, Author 8</span>
    </li>
    <!-- Add more workshop publications here -->
  </ul>

  <!-- Journals -->
  <h3>Journals</h3>
  <ul>
    <li>
      <span class="publication-title">Paper Title 5</span> - <span class="authors">Author 9, Author 10</span>
    </li>
    <li>
      <span class="publication-title">Paper Title 6</span> - <span class="authors">Author 11, Author 12</span>
    </li>
    <!-- Add more journal publications here -->
  </ul>
</div>
