<div class="teaching-section">
    <h2>Teaching Experience</h2>
    <div class="teaching-item">
        <h3>University of Toronto</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], W:Winter, F: Fall, S: Summer<br>
            <span class="location">Toronto, ON, Canada</span>
        </p>
        <ul>
            <li>CSC2516: Deep Learning & Neural Networks [W22 & W23]</li>
            <li>BME1510: Data Science for Bioengineers [W23]</li>
            <li>ECE448: Biocomputation [W21 & W22 & W23]</li>
            <li>BME1478: Coding for Bioengineers [F20 & F21 & F22]</li>
            <li>CSCA08: Intro to Computer Science I [F22]</li>
            <li>CSC236: Theory of Computation [F22]</li>
            <li>CSC111: Foundations of Computer Science II [W22]</li>
            <li>CSC108: Introduction to Python [W19 & F19 & W20 & F20 & W21 & F21]</li>
            <li>MIE334: Numerical Methods [W21]</li>
            <li>MIE1628: Big Data Science [F19 & S20]</li>
            <li>MAT185: Linear Algebra II [W19]</li>
            <li>Microteaching II: Effective Lesson Planning and Delivery [F18]</li>
        </ul>
    </div>
    <div class="teaching-item">
        <h3>Northeastern University</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], W:Winter, F: Fall, S: Summer<br>
            <span class="location">Toronto, ON, Canada</span>
        </p>
        <ul>
            <li>ALY6020: Predictive Analytics [S23]</li>
            <li>ALY6130: Risk Management Analytics [S23 & W23]</li>
            <li>ALY6110: Data Management & Big Data [F22 & S23]</li>
            <li>ITC6000: Database Management Systems [F22]</li>
        </ul>
    </div>
    <div class="teaching-item">
        <h3>University of Waterloo</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], S: Summer<br>
            <span class="location">Waterloo, ON, Canada</span>
        </p>
        <ul>
            <li>MATH118: Calculus II [S18]</li>
        </ul>
    </div>
    <div class="teaching-item">
        <h3>York University</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], W:Winter, F: Fall<br>
            <span class="location">Toronto, ON, Canada</span>
        </p>
        <ul>
            <li>MECH3401: Mini Design Project II [W18]</li>
            <li>MECH3409: Machine Element Design [W18 & W16]</li>
            <li>MECH4502: Vibrations and Actuators [F17]</li>
            <li>MECH2112: Mech. Eng. Professionalism and Society [F17]</li>
            <li>ENG1101: Renaissance Engineer I [F17]</li>
            <li>MECH2302: Dynamics [W17 & W16]</li>
            <li>MECH2301: Mechanics of Material [F16]</li>
            <li>MECH2401: Eng. Graphics & CAD Modeling (Solidworks) [F16 & F15]</li>
            <li>ENG1102: Renaissance Engineer II [W16]</li>
        </ul>
    </div>
    <div class="teaching-item">
        <h3>Isfahan University of Technology</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], W:Winter<br>
            <span class="location">Isfahan, Isf, Iran</span>
        </p>
        <ul>
            <li>MECH15437: Automatic Control [W15]</li>
            <li>MECH15225: Strength of Materials II [W15]</li>
        </ul>
    </div>
</div>
