<div class="teaching-section">
    <h2>Teaching Experience</h2>
    <div class="teaching-item">
        <h3>University of Toronto</h3>
        <p>
            Teaching Assistant: course code: course name [term-year], W:Winter, F: Fall, S: Summer<br>
            <span class="location">Toronto, ON, Canada</span>
        </p>
        <ul>
            <li>CSC2516: Deep Learning & Neural Networks [W22 & W23]</li>
            <li>BME1510: Data Science for Bioengineers [W23]</li>
            <!-- Add other teaching items here -->
        </ul>
    </div>
    <!-- Add other teaching items here -->
</div>
